.button, .cta-button {
  padding: 0 1.5em;
  color: $black;
  background: $primary-button;
  display: inline-block;
  font-family: $accent-font;
  border: none;
  //border: 3px solid $primary-button;
  font-size: $base-font-size;
  line-height: $field-height;

  @include transition(all .3s);
  &:hover {
    color: $black;
    background: lighten($highlight-color,8);
    cursor: pointer;
  }
  &.block {
    display: block;
    text-align: center;
    width: 100%;
  }
}