.client-work {
	overflow: hidden;
	background: $gray-dark;
	background-color: $black;
    h2 {
        text-align: center;
        color: $white;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 5px;
        padding: 20px;
    }
	div {
		float: left;
		overflow: hidden;
		width: 33.333%;
	}
	a {
		display: block;
		overflow: hidden;
		position: relative;
		&:hover {
			.logo {
				top: -50px;
			}
			span {
				opacity: 1;
			}
			.thumb {
				opacity: .4;
			}
		}
	}
	.thumb {
		@include transition(all .2s ease-out);
		width: 100%;
		opacity: .7;
		float: left;
	}
	.logo {
		@include transition(all .2s ease-out);
		position: absolute;
		top: 0; bottom: 0;
		left: 0; right: 0;
		width: 150px;
		margin: auto;
		z-index: 4;
	}
	span {
		@include transition(all .5s ease-out);
		display: block;
		position: absolute;
		height: 50px;
		top: 80px; bottom: 0;
		left: 20px; right: 20px;
		margin: auto;
		z-index: 2;
		text-align: center;
		color: $white;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 16px;
		opacity: 0;
		max-width: 300px;
	}
}
.client-page {
	background-color: $black;
	.head, .inner, .tag {
		position: relative;
		z-index: 2;
	}
	.head {
		padding-top: 20px;
		color: $white;
		text-align: center;
		font-size: 30px;
		img {
			width: 160px;
		}
		img, em {
			display: block;
			margin: 0 auto;
		}
		em {
			line-height: 40px;
			position: relative;
			&:after, &:before {
				content: '';
				border: 1px solid $white;
				position: absolute;
				top: 18px;
			}
			&:after {
				left: 60px;
				right: 53%;
			}
			&:before {
				right: 60px;
				left: 53%;
			}
		}
	}
	.althouse {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.tag {
		color: $white;
		text-align: center;
		font-size: 18px;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 30px;
	}
	.inner {
		max-width: $page-size;
		margin: 0 auto;
		color: $white;
	}
	.image {
		width: 100%;
		margin-bottom: 30px;
	}
	.testimonal {
		&:before {
			width: 30px;
			border-top: 2px solid $white;
			content: '';
			display: block;
		}
	}
	.quote {
		margin-top: 30px;
		font-size: 14px;
		line-height: 18px;
		&:before, &:after {
			content: '"';
		}
	}
	.person {
		font-size: 13px;
		display: block;
		margin-top: 10px;
	}
	.bg {
		position: fixed;
		top: 0; bottom: 0;
		right: 0; left: 0;
		background-size: cover;
		background-position: center center;
		z-index: 1;
		opacity: .4;
	}
	.page-bg {
		position: fixed;
		top: 0; bottom: 0;
		right: 0; left: 0;
		background-color: $black;
		z-index: -1;

	}

}
$slider-margin: 50px;
.page-home {
	.unslider {
		display: none;
	}
}
.unslider {
	background: rgba($gray-dark,.8);
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;
	margin: auto;
	z-index: 10;
	.unslider-arrow {
		position: fixed;
		top: 0; bottom: 0;
		width: $slider-margin/2;
		height: $slider-margin;
		margin: auto;
		text-align: center;
		overflow: hidden;
		&:before {
			line-height: $slider-margin;
			width: $slider-margin;
			height: $slider-margin;
			border-radius: 50%;
			background: $black;
			display: block;
			color: $white;
		}
	}
	.next {
		right: $slider-margin/2;
		&:before {
			content: '\232A';
		    margin-left: -($slider-margin/2);
			text-align: right;
		}
	}
	.prev {
		left: $slider-margin/2;
		&:before {
			content: '\2329';
			text-align: left;
		}
	}
	.unslider-nav {
		display: none;
	}
}
.client-work-slider {
	font-size: 14px;
	line-height: 18px;
	font-weight: 300;
	.inner {
		background: $white;
		margin: $slider-margin;
		overflow: auto;
		border: 4px solid $black;
	}
	span {
		display: block;
	}
	.desc, .testimonial {
		padding: 20px;
	}
	.image {
		width: 100%;
		box-shadow: 0 0 20px rgba($black,.2);
	}
	.logo {
		width: 125px;
		margin-top: -10px;
		float: right;
	}
	.tag {
		background: $black;
		color: $white;
		padding: 20px;
		text-transform: uppercase;
		font-weight: bold;
		overflow: hidden;
		span {
			padding-top: 5px;
		}
	}
	.desc {
		border-bottom: 1px solid $black;
	}
}
/*
body {
	overflow: hidden;
}
.client-work-slider {
	font-size: 14px;
	line-height: 18px;
	font-weight: 300;
	//z-index: 12;
	li {
		overflow: hidden;
	}
	.inner {
		background: $white;
		margin: 50px;
		overflow: auto;
		border: 4px solid $black;
		position: fixed;
		top: 0; bottom: 0;
		left: 0; right: 0;
	}
	span {
		display: block;
	}
	.desc, .testimonial {
		padding: 20px;
	}
	.image {
		width: 100%;
		box-shadow: 0 0 20px rgba($black,.2);
	}
	.logo {
		width: 125px;
		margin-top: -10px;
		float: right;
	}
	.tag {
		background: $black;
		color: $white;
		padding: 20px;
		text-transform: uppercase;
		font-weight: bold;
		overflow: hidden;
		span {
			padding-top: 5px;
		}
	}
	.desc {
		border-bottom: 1px solid $black;
	}
}
*/