.hp-video-bg {
    position: relative;
    width: 100%;
    background: $black;
    border-bottom: $site-border-width solid $black;
    .video-bg {
        position: absolute;
        top: 0; bottom: 0;
        right: 0; left: 0;
        opacity: .6;
    }
    h2 {
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 8px;
        text-transform: uppercase;
        font-family: $font-family;
        font-weight: bold;
        margin-bottom: 1.5em;
    }
    p {
        font-size: 16px;
        line-height: 28px;
        max-width: 400px;
    }
    img {
        width: 250px;
    }
    .copy {
        color: $white;
        padding: $mobile-side-space*2 $mobile-side-space;
        overflow: hidden;
        position: relative;
        z-index: 2;
    }
    .button {
        margin-top: 20px;
    }
    .page-head {
        position: relative;
        z-index: 2;
        padding: $mobile-side-space*2 $mobile-side-space;
        color: $white;
    }
}
.contact {
    padding: $mobile-side-space*2 $mobile-side-space;
    overflow: hidden;
    h2 {
        font-size: 30px;
    }
    p {
        font-size: 16px;
    }
    .map {
        display: none;
    }
}
.services-list {
    ul {
        overflow: hidden;
        //border-bottom: 1px solid #000; 
    }
    li {
        float: left;
        width: 50%;
        height: 130px;
        line-height: 130px;
    }
    span {
        display: inline-block;
        width: 100%;
        padding: 0 20px;
        text-align: center;
        //text-transform: uppercase;
        font-size: 13px;
        line-height: 20px;
        vertical-align: middle;
    }
    i {
        display: block;
        font-size: 30px;
        height: 30px;
        margin-bottom: 10px;
    }
}
.hidden-xs {
    display: none;
}
.thank-you-content {
    max-width: 500px;
    margin: 20px auto;
    padding: 50px 0;
    text-align: center;
    h2 {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    p {
        font-size: 18px;
        max-width: 400px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    img {
        padding: 50px 0;
    }
}
.page-head {
    padding: 20px;
    text-align: center;
    background-color: $black;
    img {
        width: 200px;
    }
}

// Bios
.team-bios {
    background-color: $white;
    position: relative;
    border-top: $site-border-width solid $black;
    border-bottom: $site-border-width solid $black;
    .inner {
        overflow: hidden;
        padding: 8em 0 5em;
        max-width: $page-size;
        margin: 0 auto;
        position: relative;
        z-index: 2;
    }
    .bg-image {
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
        background-size: cover;
        background-position: center center;
        z-index: 1;
        opacity: .2;
    }
}
.home-clients {
    overflow: hidden;
    padding: 30px 10px;
    background: $gray-dark;
    position: relative;
    //bottom: 0;
    //left: 0;
    //right: 0;
    z-index: 3;
    h2 {
        text-align: center;
        color: $white;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-bottom: 10px;
    }
    a {
        @include transition(all .5s);
        display: block;
        text-align: center;
        float: left;
        width: 50%;
        padding: 20px;
        &:hover {
            opacity: 1;
        }
    }
    img {
        width: 100%;
        max-width: 180px;
    }
}
.bio {
    text-align: center;
    position: relative;
    background: $white;
    box-shadow: 0 0 30px rgba($black,.2);
    border-radius: 4px;
    margin: 0 10px;
    &:first-child {
       margin-bottom: 100px;
    }
    img {
        position: absolute;
        top: -50px;
        left:0; right:0;
        width: 150px;
        margin: auto;
        border-radius: 50%;
        border: 10px solid $white;
        box-shadow: 0 2px 5px rgba($black,.3);

    }
    h2, p, .social  {
        padding: 0 40px;
    }
    h2 {
        padding-top: 120px;
        margin-bottom: 10px;
        font-size: 1.5em;
        //text-transform: uppercase;
        strong {
            font-weight: 700;
        }
    }
    p {
        font-size: 14px;
        margin-bottom: 40px;
    }
    .social {
        font-size: 1.1em;
        padding-bottom: 40px;
        a {
            display: inline-block;
            margin: 0 1px;
            width: 35px;
            height: 35px;
            text-align: center;
            line-height: 35px;
            border-radius: 50%;
            background-color: $accent-color;
            color: $white;
            &:hover {
                background-color: $highlight-color;
            }
        }
    }
}

// Responsive
@media all and (min-width: 420px) {
// Tablet & Up
.hidden-xs {
    display: block;
}

.services-list {
    li {
        width: 33.33%;
    }

}
.team-bios {
    .inner {
        padding: 10em 0 13em;
    }
}
.home-clients {
    padding: 30px 50px;
    a {
        width: 16.5%;
        padding: 0 20px;

    }
}
// End Tablet & Up
}

@media all and (min-width: 800px) {
// Desktop & Up
.hp-video-bg {
    &.home {
        height: 80vh;
        min-height: 400px;
    }
    h2 {
        line-height: 60px;
        margin-bottom: 0;
    }
    .copy {
        padding: $desktop-side-space;
        position: absolute;
        top: 0; 
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 380px;

    }
    .headline {
        margin-right: 5%;
        width: 40%;
        float: left;
        text-align: right;
    }
    .more-copy {
        float: left;
        width: 55%;
    }
    .button {
        margin-top: 0;
    }
}
.contact {
    padding: $desktop-side-space*2 $desktop-side-space;
    h2 {
        font-size: 40px;
        span {
            display: block;
        }
    }
    .copy {
        margin-right: 5%;
        width: 40%;
        float: left;
        text-align: right;
    }
    .form-ctr {
        float: left;
        width: 55%;
        max-width: 400px;
    }
    .map {
        display: inline-block;
    }
}
.services-list {
    li {
        width: 16.5%;
    }
}
.bio {
    width: 48%;
    float: left;
    margin: 0;
    &:first-child {
       margin-right: 4%;
       margin-bottom: 0;
    }
    img {
        width: 200px;
    }
    h2 {
        padding-top: 170px;
    }
    p {
        height: 150px;
    }
}




// End Desktop & Up
}