.hp-video-bg {
    position: relative;
    width: 100%;
    background: $black;
    .video-bg {
        position: absolute;
        top: 0; bottom: 0;
        right: 0; left: 0;
        opacity: .5;
    }
    h2 {
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 8px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 1.5em;
    }
    p {
        font-size: 16px;
        line-height: 28px;
        max-width: 400px;
    }
    img {
        width: 250px;
    }
    .copy {
        color: $white;
        padding: $mobile-side-space*2 $mobile-side-space;
        overflow: hidden;
        position: relative;
        z-index: 2;
    }
    .button {
        margin-top: 20px;
    }
    .page-head {
        position: relative;
        z-index: 2;
        padding: $mobile-side-space*2 $mobile-side-space;
        color: $white;
    }
}
.contact {
    padding: $mobile-side-space*2 $mobile-side-space;
    overflow: hidden;
    h2 {
        font-size: 30px;
        text-transform: uppercase;
    }
    p {
        font-size: 16px;
    }
    .map {
        display: none;
    }
}
.services-list {
    ul {
        overflow: hidden;
        border-bottom: 1px solid #000; 
    }
    li {
        float: left;
        width: 50vw;
        height: 130px;
        line-height: 130px;
    }
    span {
        display: inline-block;
        width: 100%;
        padding: 0 20px;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 20px;
        vertical-align: middle;
    }
    i {
        display: block;
        font-size: 30px;
        height: 30px;
        margin-bottom: 10px;
    }
}
.hidden-xs {
    display: none;
}
.thank-you-content {
    max-width: 500px;
    margin: 20px auto;
    padding: 50px 0;
    text-align: center;
    h2 {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    p {
        font-size: 18px;
        max-width: 400px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    img {
        padding: 50px 0;
    }
}
.page-head {
    padding: 20px;
    text-align: center;
    background-color: $black;
    img {
        width: 200px;
    }
}
// Responsive
@media all and (min-width: 420px) {
// Tablet & Up
.hidden-xs {
    display: block;
}

.services-list {
    li {
        width: 33.33vw;
    }

}
// End Tablet & Up
}

@media all and (min-width: 800px) {
// Desktop & Up
.hp-video-bg {
    &.home {
        height: 80vh;
    }
    h2 {
        line-height: 60px;
        margin-bottom: 0;
    }
    .copy {
        padding: $desktop-side-space;
        position: absolute;
        top: 0; 
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 350px;

    }
    .headline {
        margin-right: 5%;
        width: 40%;
        float: left;
        text-align: right;
    }
    .more-copy {
        float: left;
        width: 55%;
    }
    .button {
        margin-top: 0;
    }
}
.contact {
    padding: $desktop-side-space*2 $desktop-side-space;
    h2 {
        font-size: 40px;
        span {
            display: block;
        }
    }
    .copy {
        margin-right: 5%;
        width: 40%;
        float: left;
        text-align: right;
    }
    .form-ctr {
        float: left;
        width: 55%;
        max-width: 400px;
    }
    .map {
        display: inline-block;
    }
}
.services-list {
    li {
        width: 16.666vw;
    }

}



// End Desktop & Up
}