$nav-height: 60px;
$footer-height: 40px;

body {
	padding: $site-border-width;
}
.border {
	&:before, &:after, span {
		position: fixed;
		z-index: 100;
		content: '';
		background-color: $black;
	}
	&:before, &:after {
		height: $site-border-width;
		left: 0; right: 0;
	}
	span {
		width: $site-border-width;
		top: 0; bottom: 0;
	}
	&:before {
		top: 0;
	}
	&:after {
		bottom: 0;
	}
	.right {
		right: 0;
	}
	.left {
		left: 0;
	}
}
.footer {
	background: $black;
	color: $white;
	
	.inner {
		padding: 10px;
		overflow: hidden;
	}
	.copy {
		color: $white;
		font-family: $accent-font;
		text-transform: uppercase;
		display: block;
		text-align: center;
		font-size: 10px;
	}
}
.hide {
	opacity: 0;
}
.show {
	opacity: 1;
}

// Responsive
@media all and (min-width: 420px) {
// Tablet & Up

// End Tablet & Up
}

@media all and (min-width: 800px) {
// Desktop & Up

// End Desktop & Up
}