---
layout: default
title: Home
slug: home
path: ../

meta-title: Home
meta-description: Home page.
---
<div class="services-list">
  <!--h2>Few of the Things We Can Dofa-bullseye-arrow</h2-->
  <ul>
    <li><span><i class="fad fa-object-group"></i>User Experience (UX) Strategy & Design</span></li>
    <li><span><i class="fad fa-swatchbook"></i>Visual Interface & Web Design</span></li>
    <li><span><i class="fad fa-shopping-cart"></i>Ecommerce Design & Build</span></li>
    <li><span><i class="fad fa-code"></i>Prototyping & Front End Development</span></li>
    <li><span><i class="fad fa-lasso"></i>Brand Identity & Graphic Design</span></li>
  </ul>
</div>

{% include client-work.html layout="home" %}
{% include team-bios.html %}

<div class="contact" id="contact">
<div class="copy">
  <h2>We'd love to <span>hear from you!</span></h2>
  <p>Don't be shy, we're all friends at Alt House.</p>
  <br><br>
  <p>
    Located in Sunny Scottsdale, Arizona.
    <i class="fad fa-sunglasses" style="--fa-primary-opacity: 1;--fa-secondary-opacity: 1;--fa-primary-color: #fece2e;--fa-secondary-color: #4b4542;font-size: 30px;display: block;"></i>
  </p>
</div>
{% include contact-form.html %}

</div><!-- /.contact -->