{% if include.layout == "home" %}

{% assign works = site.work | sort: "client-order" | where_exp: "work", "work.archive != true" %}
<div class="client-work">
    <h2>Trusted By</h2>
{% for work in works limit: 16 %}
	<div class="item">
		<a href="/work/{{ work.client-slug }}" data-client="{{ work.client-slug }}">
			<img class="logo" src="{{ site.baseurl }}/img/client-logo-{{ work.client-slug }}.png" alt="{{ work.client-name }}" />
			<img class="thumb" src="{{ site.baseurl }}/img/clientthumb-2-{{ work.client-slug }}.jpg" alt="{{ work.client-name }}" />
			<span class="copy">{{ work.client-tag }}</span>
		</a>
	</div>
{% endfor %}
</div>

{% elsif include.layout == "page-footer" %}
{% assign works = site.work | sort: "client-order" | where_exp: "work", "work.archive != true" %}
<div class="client-work page-footer">
	<h2>Our Clients</h2>
{% for work in works %}
	<div class="item">
		<a href="/work/{{ work.client-slug }}" data-client="{{ work.client-slug }}">
			<img class="logo" src="{{ site.baseurl }}/img/client-logo-{{ work.client-slug }}.png" alt="{{ work.client-name }}" />
			<img class="thumb" src="{{ site.baseurl }}/img/clientthumb-2-{{ work.client-slug }}.jpg" alt="{{ work.client-name }}" />
			<span class="copy">{{ work.client-tag }}</span>
		</a>
	</div>
{% endfor %}
</div>
{% elsif include.layout == "page" %}
<div class="client-page client-{{ page.client-slug }}">
	<div class="head cf">
	  <div class="logo">
	  	<a href="/">
        {% include svg/alt-house-interactive.svg %}
        <span>Alt House Interactive</span>
	    </a>
      </div>
	  <em>&amp;</em>
	  <img src="{{ site.baseurl }}/img/client-logo-{{ page.client-slug }}.png" alt="{{ page.client-name }}" />
	</div>
	<div class="page-title cf">
		<h2 class="tag">{{ page.client-tag }}</h2>
		<h1>Client: {{ page.client-name }}</h1>
	</div>
	<div class="slide">
	  <div class="inner">
	    <img class="image" src="{{ site.baseurl }}/img/clientwork-{{ page.client-slug }}.jpg" alt="{{ page.client-name }}" />
	    <div class="content">
	    <p class="desc">{{ page.client-desc }}</p>
	    {% if page.client-quote %}
	    <div class="testimonial">
	    	<i class="fad fa-quote-left"></i>
			<span class="quote">{{ page.client-quote }}</span>
			<span class="person">{{ page.client-person }}</span>
	    </div>
	    {% endif %}
		{{ content }}
		{% if page.project-url %}
		<p><a class="cta-button" href="{{page.project-url}}" target="_blank">Visit Site</a></p>
	    {% endif %}
		</div><!-- .content -->
	  </div>
	</div>
	<div class="bg" style="background-image: url({{ site.baseurl }}/img/clientthumb-2-{{ page.client-slug }}.jpg);">&nbsp;</div>
	<div class="page-bg">&nbsp;</div>
</div>
{% else %}
<!-- no layout matches -->
{% endif %}