<div class="home-clients {{ include.layout }}">
    <h2>Trusted By</h2>
    <div class="logos">
      <a href="http://authoritylabs.com/"><span><img src="{{ site.baseurl }}/img/client-logo-authoritylabs.png" alt="AuthorityLabs" /></span></a>
      <a href="http://blythegrace.com/"><span><img src="{{ site.baseurl }}/img/client-logo-blythegrace.png" alt="Blythe Grace" /></span></a>
      <a href="http://yscouts.com/"><span><img src="{{ site.baseurl }}/img/client-logo-yscouts.png" alt="Y Scouts" /></span></a>
      <a href="http://shop.panyapauper.com/"><span><img src="{{ site.baseurl }}/img/client-logo-panyapauper.png" alt="Panya & Pauper" /></span></a>
      <a href="http://www.flexxcoach.com/"><span><img src="{{ site.baseurl }}/img/client-logo-flexxcoach.png" alt="flexxCOACH" /></span></a>
      <a href="http://steeltec.us/"><span><img src="{{ site.baseurl }}/img/client-logo-steeltec.png" alt="Steeltec" /></span></a>
    </div>
</div>