<div class="team-bios {{ include.layout }}">
  <div class="bg-image" style="background-image: url({{ site.baseurl }}/img/whiteboard.jpg);">&nbsp;</div>
  <div class="inner">
    <div class="bio">
      <img src="{{ site.baseurl }}/img/kristen-zirkler.jpg" alt="Kristen Zirkler" />
      <h2><strong>Kristen</strong> Zirkler</h2>
      <p>Former 15 year tech & marketing executive at Jobing.com/Recruiting.com. Nowadays she helps small businesses with marketing strategy, branding, UI/UX design, web design and development, and all things e-commerce.</p>
      <div class="social">
        <a class="linkedin" href="http://www.linkedin.com/in/kristenzirkler/"><i class="fa fa-linkedin"></i></a>
        <a class="twitter" href="http://www.twitter.com/kristenzirkler"><i class="fa fa-twitter"></i></a>
        <a class="codepen" href="http://codepen.io/kristenzirkler"><i class="fa fa-codepen"></i></a>
        <a class="github" href="http://www.github.com/kristenzirkler"><i class="fa fa-github-alt"></i></a>
        <a class="dribbble" href="http://www.dribbble.com/kristenzirkler"><i class="fa fa-dribbble"></i></a>
        <!--a href="http://www.pinterest.com/kristenzirkler"><i class="fa fa-pinterest"></i></a-->
        <a class="email" rel="view-contact" href="#"><i class="fa fa-envelope-o"></i></a>
      </div>
    </div>
    <div class="bio">
      <img src="{{ site.baseurl }}/img/jason-carr.jpg" alt="Jason Carr" />
      <h2><strong>Jason</strong> Carr</h2>
      <p>Whether working for clients on the agency side or directing an in-house team, Jason has experience with just about every aspect of digital marketing. From paid advertising, SEO, and content marketing, to conversion rate optimization and data analysis, he's done it all.</p>
      <div class="social">
        <a class="linkedin" href="http://www.linkedin.com/in/jasonbcarr/"><i class="fa fa-linkedin"></i></a>
        <a class="medium" href="https://medium.com/@jasoncarr"><i class="fa fa-medium"></i></a>
        <a class="twitter" href="http://www.twitter.com/jasoncarr"><i class="fa fa-twitter"></i></a>
        <a class="email" rel="view-contact" href="#"><i class="fa fa-envelope-o"></i></a>
      </div>
    </div>
  </div>
</div>