@use '../variables' as *;

.hero {
    position: relative;
    .inner {
        max-width: $page-size;
        margin: 0 auto;
        position: relative;
        z-index: 2;
        padding: 50px 20px;
    }
    .head {
        max-width: 560px;
    }
    .subhead {
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 2rem;
        max-width: 650px;
    }
}
.hero.hero--has-image {
    .bg {
        position: absolute;
        top: 0; bottom: 0;
        right: 0; left: 0;
        z-index: 1;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}

// Responsive ------------------------------------------------------------------
@media all and (min-width: 420px) {
    .hero {
        .inner {
            padding: 100px 20px;
        }
    }
    .hero.hero--has-image {
        h1, h2 {
            max-width: 40%;
        }
    }
}
