{% include site-head-code.html %}
{% include header.html %}

{% if page.slug == "home" %}
  {% include video-header.html layout="home" %}
{% elsif page.slug == "work" %}

{% else %}
<div class="page-head">
  <img alt="Alt House" src="{{ site.baseurl }}/img/alt-house-white.png" />
</div>
{% endif %}

<div class="content">

{% if page.slug == "work" %}
  {% include client-work.html layout="page" %}
  {% include client-work.html layout="page-footer" %}
{% elsif page.slug == "landing-page" %}
hey
{% endif %}

{{ content }}
</div>

{% include footer.html %}

{% include site-foot-code.html %}